# Slack
SLACK_WEBHOOK_URL=

# Email (SMTP)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_smtp_user
EMAIL_PASS=your_smtp_password
EMAIL_FROM=alerts@example.com
# Comma-separated list of recipients
EMAIL_TO=devops@example.com,finops@example.com

# Service
PORT=4005
NODE_ENV=development
